html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    --taille_ecriture:1.5rem;
    --border_radius:20px;
    --gray:gray;
    --white:white;
    --blue:hsl(208, 100%, 50%);
    --padding:30px;
    --margin:40px;
    --width_a:70%;
}
body{
    /* padding: 0 20px; */
    background: black;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
header{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(31, 30, 29);
    position: fixed;
    padding: 0 var(--padding);
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    z-index: 100;
}
header h1{
    color: var(--blue);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header nav{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 40px;
    height: 100%;
}
header nav a{
    text-decoration: none;
    color: var(--gray);
    font-size:1rem;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    transition: text-shadow 0.3s ease-in-out;
}
header nav a.lien_acheter{
    background: hsl(208, 100%, 50%);
    color: white;
    border-color: black;
    padding: 10px 20px;
    border-radius: var(--border_radius);
    transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
header nav a.lien_acheter:hover{
    color: black;
    box-shadow: 0 0 10px var(--blue);
}
header nav a:hover{
    color: var(--white);
    color: rgb(174, 156, 156);
    text-shadow: 0 0 10px var(--white);
}
main #accueil, main .propos{
    border: 1px solid;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow-x: 0;
    /* height: 80vh; */
}
/* main{
    margin-top: 0px;
} */
main #accueil{
    margin-top: 82px;
    background: radial-gradient(circle at bottom right,rgb(28, 60, 73),black 100%);
    margin-bottom: var(--margin);
}
main #accueil .div1{
    /* border: 1px solid; */
    background: radial-gradient(circle at bottom right,rgb(28, 60, 73),black 100%);
    height: 100%;
    padding-left: var(--padding);
    /* padding-top: 40PX; */
}
main #accueil .div1 h1{
    /* border: 1px solid; */
    font-size: 2.5rem;
    color: white;
}
main #accueil .div1 h1 span{
    color: var(--blue);
    /* text-shadow:  0 0 5px var(--blue); */
}
main #accueil .div1 p{
    /* border: 1px solid; */
    font-size: var(--taille_ecriture);
    color: var(--gray);
}
main #accueil .div1 a{
    text-decoration:  none;
    border: 1px solid black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: var(--width_a);
    border-radius: var(--border_radius);
    margin: 30px 0;
    margin-left: 10%;
    font-size: var(--taille_ecriture);
    background: var(--blue);
    color: white;
    /* transform: translateX(-200px); */
    
}
main #accueil .div2{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
main #accueil .div2 img{
    border: 1px solid;
    width: 30%;
    border-radius: 10px;
    background:hsl(203, 54%, 11%);
}
.image_accueil{
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
}
/* a propos */
.propos{
    /* height: 80vh; */
    background: hsl(0, 0%, 7%);
    margin-bottom: var(--margin);
}
.propos div{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 0;
    padding-left: var(--padding);
}
.propos div span{
    font-size: 1.3rem;
    color: var(--blue);
}
.propos div p{
    font-size: var(--taille_ecriture);
    color: var(--gray);
}
.propos div a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    text-decoration: none;
    border: 1px solid black;
    width: var(--width_a);
    font-size: var(--taille_ecriture);
    margin: 0 auto;
    border-radius: var(--border_radius);
    background: var(--blue);
    color:white;
    /* transform: translateX(-200px); */
}
.propos img{
    /* border: 1px solid red; */
    background: radial-gradient(circle at bottom right,rgb(28, 60, 73),black 100%); 
    background:hsl(198, 43%, 10%) ;
    height: 90%;
    width: 90%;
    margin: auto;
    border-radius: var(--border_radius);
}
/* contact */
.contact{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(0, 2%, 10%);
    /* margin-bottom: var(--margin); */

}
.contact .hr1{
    border: none;
    height: 5px;
    background: var(--blue);
    width: 28%;
    border-radius: 50%;
    /* border: 1px solid blue; */
}
.contact ul .hr2{
    border: none;
    height: 3px;
    width: 80%;
    background:var(--blue);
    border-radius: 50%;
}
.contact h3{
    font-size: var(--taille_ecriture);
    color: white;
}
.contact h3 span{
    color: var(--blue);
}
.contact ul{
    /* border: 1px solid black;
    box-shadow: 0 0 5px white; */
    border-radius: var(--border_radius);
    width: 50%;
    padding: 0;
    color: white;
}

.contact ul h1{
    text-align: center;
    /* border: 1px solid; */
    font-size: 2.5rem;
    color: white;
    /* margin-bottom: 100px; */
}
.contact ul h1 span{
    color: var(--blue);
}
.contact ul li{
    border: 1px solid red;
    height: 100px;
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    padding-left: var(--border_radius);
    border-radius: var(--border_radius);
    font-size: var(--taille_ecriture);
    border-color: var(--gray);
}
.contact ul li a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.contact ul .li1{
    margin-top: 50px;
}
footer{
    /* border: 1px solid; */
    height: 300px;
    display: flex;
    justify-content: center;
    background: hsl(30, 3%, 12%);
}
footer p{
    margin-top: 50px;
    color: var(--gray);
}
footer p span{
    color: var(--blue);
}
.retourner_haut{
    /* border: 1px solid red; */
    position: fixed;
    bottom: var(--padding);
    right: var(--padding);
    height: 75px;
    width: 75px;
    font-size: 3rem;
    border-radius: var(--border_radius);
    background: radial-gradient(hsl(203, 100%, 43%),black);
    color: white;
    box-shadow: 0 0 5px;
    animation: btn_retouner_haut 5s ease-in-out infinite;
}
@keyframes btn_retouner_haut {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
     100%{
        transform: scale(1);
     }
}
.gauche{
    /* transition: 1s; */
    opacity: 0;
    
}
.show1{
    animation: gauche_droite 1s ease-in-out forwards;
}
.droite{
    opacity: 0;
}
.show2{
    animation:droite_gauche 1s ease-in-out forwards ;
}
.show3{
    opacity: 0;
    animation: apparition_element 1s 0.5s ease-in-out forwards;
}
@keyframes gauche_droite {
    from{
        transform: translateX(-200px);
    }
    100%{
        opacity: 1;
    }
}
@keyframes droite_gauche {
    from{
        transform: translateX(200px);
    }
    to{
        opacity: 1;
    }
}
@keyframes apparition_element {
    100%{
        opacity: 1;
    }
}
.hidden{
    display: none;
}
@media (min-width:1200px){
    main #accueil .div1 h1{
        font-size: 4rem;
    }
}
@media (max-width:1000px){
    main .contact ul{
        width: 90%;
        /* border: 1px solid red; */
    }
}
@media (max-width:880px){
    main #accueil{
        display:flex ;
        flex-direction: column-reverse;

    }
    main #accueil .div2{
        padding-left: 0;
    }
}
@media (max-width:800px){
    main .propos{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (max-width:680px){
    header h1{
        font-size: 1.5rem;
    }
    header nav{
        gap: 10px;
    }
    main .contact ul li{
        font-size: 1rem;
    }
}
@media (max-width:541px){
   header {
    padding: 0 10px;
   }
   header nav{
    /* border: 1px solid red; */
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    top:100px ;
    right: 10px;
    width: 50%;
    padding: 20px;
    background: black;
    border-radius: var(--border_radius);
    box-shadow: 0 0 1.5px white;
    animation: nav_animation 1s;
   }
   @keyframes nav_animation {
        0%{
            width: 10%;
            opacity: 0;
        }
        100%{
            width: 50%;
            opacity: 1;
        }
   }
   header nav a{
    margin-top: 10px;
    border-bottom: 1px solid;
    padding-bottom: 15px;
    width: 100%;
   }
   header nav .lien_acheter{
    width: 50%;
    justify-content: center;
    margin: auto;
   }
   .btn_nav{
    color: white;
    height: 60%;
    width: 50px;
    border-radius: 10px;
    font-size: 2rem;
    background: radial-gradient(hsl(208, 100%, 50%),black);
    box-shadow: 0 0 5px white;
   }
   footer p{
    font-size: 0.9rem;
   }
}

